<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-dark sidebar " style="position: fixed; height:100%">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">

        <a class="nav-item" routerLink="/dashboard" href="#">
          <li id="index">
            <i class="fas fa-tachometer-alt"></i>home
          </li>
        </a>

        <a routerLink="/customers" href="#">
          <li id="customer">
            <i class="fas fa-users"></i>Customer
          </li>
        </a>

        <a routerLink="/items" href="#">
          <li id="item">
            <i class="fas fa-cubes"></i>Items
          </li>
        </a>

        <a routerLink="/orders" href="#">
          <li id="order">
            <i class="fas fa-shopping-cart"></i>Orders
          </li>
        </a>

        <li id="employee"><i class="fas fa-user-tie"></i>Employee</li>
        <li><i class="fas fa-cogs"></i>System</li>
        <li><i class="fas fa-power-off"></i>Log Off</li>
      </ul>
    </div>
  </nav>

</div>
