<main id="itemDiv" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="margin-top: 4%">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Item</h1>

  </div>

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Code</label>
      <input type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Description</label>
      <input type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Unit Price</label>
      <input type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Qty on Hand</label>
      <input type="text" class="form-control" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary crud-buttons">Submit</button>
    <button type="button" class="btn btn-danger crud-buttons">Delete</button>
    <button type="button" class="btn btn-secondary crud-buttons">Edit</button>
    <button type="button" class="btn btn-success crud-buttons">+ New Customer</button>
  </form>

  <div class="tbl">

    <table class="table table-bordered">
      <thead class="bg-info">
        <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Qty on Hand</th>
        </tr>
      </thead>
      <tbody id="Itemtbl">

      </tbody>
    </table>

    <br>
    <br>
    <br>
    <br>

  </div>
</main>